body{
    background-color: rgb(216, 216, 30);
    text-align: center;
}

img {
    max-width: 100%; 
    height: auto;
    margin: auto;
    padding: 0;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
}

.apart{
    max-width:30%; 
    height:100px;
    margin: 0;
    padding: 0%;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
}


li{
    color: blue; !important
}

#container {
    display: flex;
    align-items: center;
}

#container p {
    margin-right: 80px;
}

h2{
    color: grey;
}

.end, h2{
    background: linear-gradient(to right, #0ec1ee, #b1ce33, #bd8112);
    font-family: cursive;


}

div{
    margin: 4px;
}

